.relacionadas {
    max-width: 1430px;
    margin: 0 auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.head-relacionadas {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 3em 3em 2em 3em;
}

/* Se unifica en .container en styles.css*/
.container-relacionadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.card-relacionada {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; 
    justify-content: space-evenly;
}

.card-relacionada > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.card-relacionada > a > img {    
    width: 210px;
    height: 290px;    
}

.card-relacionada > a > h2 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}

.card-relacionada > a > p {
    text-align: center;
    font-size: .85rem;
    color: #8da0bc;
    margin-bottom: 2;
    margin-top: 0;
}