.trailers {
    max-width: 1430px;
    margin: 0 auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.head-trailer {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 3em 3em 2em 3em;
}

.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-item {
    width: 1050px;
    height: 560px;
    /* transform: translateX(1%) translateY(1%); */
    padding: 1em 1em;
}