*, *::before, *::after {
    box-sizing: inherit;
    }

body {
    margin: 0;
    font-size: 18px;
    line-height: 1.5em;  
    background: #0c3483;
    background: linear-gradient(to right, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    background: -webkit-linear-gradient(to right, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    font-family: 'Titillium Web', 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    color: #ffffff;    

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {


    background-color: #1A1719;
    max-width: 400px;
    padding: 20px 40px;    
    letter-spacing: 1px; 
}

.login-title {
    font-size: 24px;    
    margin: 40px;
}

a {
    color: #0EB2F0;
    font-weight: 600;
    font-size: 12px;
    display: inline;
}

input[type='email'], input[type='password'] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;    
}

input[type='submit'] {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background: #2E2D35;
    border: none;
    font-weight: bold;
}  



input[type='button'] {
    display: block;
    width: 100%;   
    height: 28px;    
    margin-top: 10px;
    background: #0F1013;
    color: #0EB2F0;
    border: none;   
    
}