.card {
    min-height: 10px;
    flex-basis: 30%;
}

.series h1, .peliculas h1 {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.series h1, .peliculas h1 {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

section > .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: baseline;
}


.card > a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}


.card > a > h2 {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 0;
}

.card > a > p {
    text-align: center;
    font-size: .95rem;
    color: #8da0bc;
    margin-bottom: 2;
    margin-top: 0;
}