/*Se puede unificar en una sola clase en .section-content en style.css*/
/* .series {
    padding: 1rem 1rem;
    margin-top: 2rem;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
} */

.head-series {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;    
    margin-bottom: 1rem;    
}

/* Se unifica en .container en styles.css*/
.container-series {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}