:root {
    --max-width: 1430px;
}

body {
    background-color: #080f28;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

/* estilo imagen en cuadricula */
main section article a img {
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    vertical-align: middle;
    max-width: 100%;
}

.button {
    border: 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 2rem;
    border-radius: 3rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #4484C1;
}

.button.big {
    max-width: 150px;
    font-size: 1.125rem;
    padding: .5rem 2rem;
    font-weight: 900;
}

.button.sm {
    height: 2rem;
    padding: .1rem 2rem;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 700;
    width: auto;
}

